.logo svg {
    width: 100%;
    height: auto;
    object-fit: contain;
    overflow: auto;
    object-position: center;
}

/* =========================================================
   Header 
========================================================= */
.sidebar-show-hide-bck {
    transition: background-color 0.3s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -ms-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
}

.main-header {
    background-color: var(--white);
    padding: 12px 30px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .08), 0 1px 2px rgba(0, 0, 0, .04);
    transition: margin-left .3s ease-in-out;
    -webkit-transition: margin-left .3s ease-in-out;
    -moz-transition: margin-left .3s ease-in-out;
    -ms-transition: margin-left .3s ease-in-out;
    -o-transition: margin-left .3s ease-in-out;
}

.header-box-shadow {
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    height: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .08), 0 1px 2px rgba(0, 0, 0, .04);
    top: 64px;
    z-index: 9999;
}

.main-header .profile-avtar-img {
    width: 36px;
    height: 36px;
}

.main-header-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.headera-logo-wrap {
    width: 300px;
    position: relative;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    white-space: nowrap;
}

.main-header .sidebar-toggle {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.main-header .sidebar-toggle svg {
    width: 100%;
    height: 100%;
}

.sidebar-menu .admin-icon-wrap {
    width: 24px;
    height: 24px;
}

.sidebar-menu .site-menu-title {
    padding-left: 16px;
}

.sidebar-menu .sb-nav-link {
    padding: 12px 16px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.sidebar-menu-list .sb-nav-item {
    margin-bottom: 10px;
}

.sidebar-menu-list .sb-nav-item:last-child {
    margin-bottom: 0;
}

.sidebar-admin-card {
    display: flex;
    align-items: center;
    gap: 14px;
}

.sidebar-admin-card .sidebar-admin-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: var(--primary-lighter);
    color: var(--primary-main);
    border-color: transparent;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    line-height: normal;
    /* object-fit: cover; */
}

.main-sidebar {
    bottom: 0;
    float: none;
    left: 0;
    position: fixed;
    top: 0;
    width: 300px;
    background: var(--white);
    z-index: 999;
    transition: margin-left .3s ease-in-out, width .3s ease-in-out;
    -webkit-transition: margin-left .3s ease-in-out, width .3s ease-in-out;
    -moz-transition: margin-left .3s ease-in-out, width .3s ease-in-out;
    -ms-transition: margin-left .3s ease-in-out, width .3s ease-in-out;
    -o-transition: margin-left .3s ease-in-out, width .3s ease-in-out;
}

.sidebar.sidebar-menu-main {
    /* padding: 12px 20px 30px;
    height: 100vh;
    height: 100dvh;
    display: flex;
    flex-direction: column; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(-60px + 100vh);
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 65px;
    padding: 30px 14px;
}

.sidebar-scroll {
    /* overflow-x: hidden;
    overflow-y: auto;
    flex-grow: 1;
    margin-top: 53px; */
}

.page-wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--theme-background-color);
}

.page {
    /* min-height: 100%; */
    width: calc(100% - 300px);
    margin-left: auto;
    transition: all .3s ease-in-out;
    /* background-color: var(--bg-light);
    width: calc(100% - 260px);
    margin-left: auto;
    transition: 0.3s ease-in-out; */
}