/* =========================================================
   Header 
========================================================= */
.sidebar-show-hide-bck {
    transition: background-color 0.3s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -ms-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
}

.main-header {
    background-color: var(--white);
    padding: 12px 30px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .08), 0 1px 2px rgba(0, 0, 0, .04);
    transition: margin-left .3s ease-in-out;
    -webkit-transition: margin-left .3s ease-in-out;
    -moz-transition: margin-left .3s ease-in-out;
    -ms-transition: margin-left .3s ease-in-out;
    -o-transition: margin-left .3s ease-in-out;
}

.header-box-shadow {
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    height: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .08), 0 1px 2px rgba(0, 0, 0, .04);
    top: 64px;
    z-index: 9999;
}

.main-header .profile-avtar-img {
    width: 36px;
    height: 36px;
    padding: 0;
}

.main-header-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.headera-logo-wrap {
    display: inline-flex;
    align-items: center;
    width: 300px;
    position: relative;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    white-space: nowrap;
}

.sidebar-show-hide .headera-logo-wrap {
    width: 100px;
}

.headera-logo-wrap .logo {
    height: 40px;
    width: 200px;
    max-width: 200px;
    display: inline-block;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.headera-logo-wrap .logo svg,
.headera-logo-wrap .logo img {
    width: 100%;
    height: 100%;
}

.headera-mlogo {
    transition: all 0.45s cubic-bezier(0.22, 1, 0.36, 1), opacity 0.3s ease;
    -webkit-transition: all 0.45s cubic-bezier(0.22, 1, 0.36, 1), opacity 0.3s ease;
    -moz-transition: all 0.45s cubic-bezier(0.22, 1, 0.36, 1), opacity 0.3s ease;
    -ms-transition: all 0.45s cubic-bezier(0.22, 1, 0.36, 1), opacity 0.3s ease;
    -o-transition: all 0.45s cubic-bezier(0.22, 1, 0.36, 1), opacity 0.3s ease;
}

.sidebar-show-hide .headera-mlogo {
    /* opacity: 1;
    visibility: visible; */
}

.headera-logo {
    margin-left: -32px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.sidebar-show-hide .headera-logo {
    opacity: 0;
}

.main-header .sidebar-toggle {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.main-header .sidebar-toggle svg {
    width: 100%;
    height: 100%;
}

.sidebar-menu .admin-icon-wrap,
.sidebar-menu .svg-color {
    width: 22px;
    height: 22px;
}

.sidebar-menu .site-menu-title {
    padding-left: 16px;
    font-weight: 500;
    line-height: normal;
    color: var(--text-primary);
    text-transform: capitalize;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.sidebar-menu .sb-nav-link {
    padding: 12px 16px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.sidebar-menu .svg-color {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.sidebar-menu .sb-nav-link:hover,
.sidebar-menu .sb-nav-link.active {
    background-color: var(--primary-lighter2);
}

.sidebar-menu .sb-nav-link:hover .site-menu-title,
.sidebar-menu .sb-nav-link.active .site-menu-title {
    color: var(--primary-main);
}

.sidebar-menu .sb-nav-link:hover .svg-color,
.sidebar-menu .sb-nav-link.active .svg-color {
    background-color: var(--primary-main);
}

.sidebar-menu-list .sb-nav-item {
    margin-bottom: 10px;
}

.sidebar-menu-list .sb-nav-item:last-child {
    margin-bottom: 0;
}

.sidebar-show-hide .main-sidebar .sb-nav-item .sb-nav-link .site-menu-title {
    padding-left: 0px;
    opacity: 0;
    display: none;
}

.sidebar-show-hide .main-sidebar .sb-nav-item .sb-nav-link {
    max-width: fit-content;
    margin-left: 8px;
}

.sidebar-admin-card {
    display: flex;
    align-items: center;
    gap: 14px;
}

.sidebar-admin-card .sidebar-admin-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: var(--primary-lighter);
    color: var(--primary-main);
    border-color: transparent;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    line-height: normal;
    /* object-fit: cover; */
}

.main-sidebar {
    bottom: 0;
    float: none;
    left: 0;
    position: fixed;
    top: 0;
    width: 300px;
    background: var(--white);
    z-index: 99;
    transition: margin-left .3s ease-in-out, width .3s ease-in-out;
    -webkit-transition: margin-left .3s ease-in-out, width .3s ease-in-out;
    -moz-transition: margin-left .3s ease-in-out, width .3s ease-in-out;
    -ms-transition: margin-left .3s ease-in-out, width .3s ease-in-out;
    -o-transition: margin-left .3s ease-in-out, width .3s ease-in-out;
}

.sidebar-show-hide .main-sidebar {
    width: 100px;
}

.sidebar.sidebar-menu-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 64px);
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 64px;
    padding: 30px 14px;
}

.header-height {
    padding-top: 64px;
}

.page-wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--theme-background-color);
}

.page {
    width: calc(100% - 300px);
    margin-left: auto;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.sidebar-show-hide .page,
.sidebar-show-hide .site-footer {
    width: calc(100vw - 100px);
}

.page {
    min-height: 100%;
}

.site-footer {
    height: auto;
    padding: 16px 30px;
    flex-shrink: 1;
}

.content-wrapper-main {
    flex-grow: 1;
    flex-shrink: 0;
    overflow: hidden;
}

/* =========================================================
   Login Screen Styles 
========================================================= */
.input-field input {
    border-radius: 10px;
    font-size: 16px;
    color: var(--LightBlack);
    font-weight: 300;
    padding: 10px 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.parentform .login-cardm1 {
    padding: 35px 40px;
    width: 100%;
    max-width: 420px;
    border-radius: 12px;
}